@font-face {
    font-family: poppins;
    src: url(resources/fonts/Poppins-Light.ttf);
    font-weight: 100;
}

@font-face {
    font-family: poppins;
    src: url(resources/fonts/Poppins-Regular.ttf);
    font-weight: 400;
}


@font-face {
    font-family: poppins;
    src: url(resources/fonts/Poppins-Bold.ttf);
    font-weight: 700;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 10px;
    --bg-color: #F5FFFE;
    --bg-color-sec: #E8FFFD;
    --text-color: rgb(0, 76, 151);
    --text-color-pr: #32497B;
    --text-color-sec: #505675;
    --text-color-thi: #7D88A1;
    --text-color-for: dodgerblue;
    
}

html{
    
}

body{
    width: 100%;
    height: 100%;
}

/*-----Globals-----*/

.sec-heading{
    color: var(--text-color);
    font-family: poppins;
    font-size: 3em;
    font-weight: 700;
}

.text-center{
    text-align: center;
}

.grayed-heading{
    font-family: poppins;
    font-weight: 700;
    color: var(--text-color-thi);
    font-size: 2em;
}

.round-btn{
    background-color: transparent;
    border: 2px solid var(--text-color);
    padding: 2px 1em;
    color: var(--text-color);
    font-weight: 700;
    font-family: poppins;
    border-radius: 50px;
}

.round-btn:hover{
    cursor: pointer;
    background-color: var(--text-color);
    color: var(--bg-color);
}

.round-btn:active{
    background-color: rgb(23, 70, 117);
}

.text-bold{
    font-weight: 700;
}

button:focus{
    outline: none;
}

/*-----Hero_Section-----*/

#hero{
    background-color: var(--bg-color);
    font-size: 1rem;
    padding: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 2em;
    min-height: 100vh;
    
    color: var(--text-color);
    font-family: poppins;
    text-align: center;
}

#hero h1{
    font-weight: 700;
    font-size: 5em;

    
}

#hero h1 span{
    font-weight: 400;
    font-size: 0.3em;
    line-height: 1.2em;
    margin-left: 1.2em;
    
}


#hero div p{
    font-weight: 400;
    font-size: 1.5em;
    margin: 10px;

    
}

#hero img{
    width: 50%;
    height: auto;
}

#hero div button{
    color: var(--text-color);
    background-color: transparent;
    font-family: poppins;
    font-size: 1.2em;
    font-weight: 700;
    padding: 0.4em 1em;
    border-radius: 50px;
    border: none;
    border: 0.2rem solid var(--text-color);
}

#hero div button:hover{
    background-color: var(--text-color);
    color: var(--bg-color);
    cursor: pointer;
}

#hero div button:active{
    background-color:rgb(23, 70, 117);
}

/*-----About_Section-----*/

.about-section{
    font-size: 1rem;
    background-color: var(--bg-color-sec);
    padding: 2em;
    font-family: poppins;

    text-align: center;
    padding: 50px 30px;
}

.about-section h2{
    color: var(--text-color);
    font-size: 2.5em;
    font-weight: 700;

    color: var(--text-color-for);
}

.about-section p{
    color: var(--text-color-sec);
    font-size: 1.5em;
    font-weight: 400;

    color: var(--text-color-for);
}

/*-----Skills_Section-----*/

#skills-section{
    padding: 30px 10px;
    background-color: var(--bg-color);
    font-size: 1rem;
}

.skills-group{
    max-width: 2000px;
    margin: 0 auto;
}

.skills-container{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    grid-gap: 15px
}

.skill-card{
    padding: 15px;
    border-radius: 5px;
}

.skill-card div{
    display: flex;
    align-items: center;
}

.skill-card img{
    width: 4.5em;
    height: 4.5em;
}

.skill-card div h3{
    font-size: 2.5em;
    font-family: poppins;
    font-weight: 700;
    margin-left: 10px;
}

.skill-card p{
    font-size: 1.5em;
    font-family: poppins;
    font-weight: 400;
    color: var(--text-color-thi);
}

/*-----Services_Section-----*/

#services-section{
    padding: 50px; 
    background-color: var(--bg-color);
    font-size: 1rem;
}

.services-container{
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    grid-template-columns: 1fr;
    grid-gap: 30px 50px;

    max-width: 2500px;
    margin: 0 auto;
}

.service-card .service-card-title{
    display: flex;
    align-items: center;
    
    flex-direction: column;
    justify-content: center;

    margin: 5px auto;
    text-align: center;

}

.service-card .service-card-title div{
    --img-dim: 6em;

    width: var(--img-dim);
    height: var(--img-dim);
    border-radius: 60px;
    background-color: var(--bg-color-sec);

    overflow: hidden;
    
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 5px;
}


.service-card .service-card-title div img{
    width: calc(var(--img-dim) / 1.8);
}

.service-card .service-card-title h2{
    font-family: poppins;
    font-weight: 700;
    color: var(--text-color-for);
    font-size: 1.7em;
}

.service-card .service-card-disc{
    font-family: poppins;
    font-size: 1.5em;
    color: var(--text-color-sec);
    font-weight: 400;

    text-align: center;
}

/*-----Projects_Section-----*/

#projects-section{
    background-color: var(--bg-color);
    font-size: 1rem;

    padding: 50px 0px;

}

.projects-container{
    display: flex;
    overflow-x: scroll;

    padding: 30px 0px;
    margin: 30px 0px;
}

.project-card{

    text-align: center;
    font-family: poppins;
    color: var(--text-color);
    background-color: white;

    box-shadow: 0px 0px 20px 2px rgba(133, 133, 133, 0.2);

    overflow: hidden;
    border-radius: 10px;

    min-width: 85%;
    margin: 0px 20px;
}

.project-card img{
    width: 100%;
    height: auto;
}

.project-card-disc{
    padding: 15px;
}

.project-card-disc h2{
    font-size: 2.5em;
}

.project-card-disc p{
    margin: 15px 0px;
    font-size: 1.5em;
    color: var(--text-color);
}

.project-card-disc div{
    display: flex;
    justify-content: space-between;
}

.project-card-disc div button{
    font-size: 1.3em;
}

.load-btn{
    display: block;
    font-size: 1.5em;
    margin: 10px auto;
    border-radius: 0px;
    border-width: 3px;
    padding: 5px 15px; 
    font-family: poppins;
    border: 2px solid var(--text-color);
    background-color: transparent;
    font-weight: 700;
    color: var(--text-color);
}

.load-btn:hover{
    cursor: pointer;
    background-color: var(--text-color);
    color: var(--bg-color);
}

.load-btn:active{
    background-color: rgb(23, 70, 117);
}

/*-----Contact_Section-----*/

#contact-section{
    background-color: var(--bg-color-sec);
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--text-color);
    font-family: poppins;
    text-align: center;

    font-size: 1rem;
}

#contact-section h2{
    color: var(--text-color);
    font-size: 3em;
}

#contact-section h3{
    font-size: 2em;
    margin: 5px auto;
}

#contact-section p{
    font-size: 1.7em;
    font-weight: 400;
}

.social-links{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 20px;
}

.asoc-link{
    margin: 10px 20px;
}

.soc-link:hover{
    cursor: pointer;
}

.soc-link img{
    width: 3.5em;
    height: auto;
    text-align: center;
}

.soc-link a{
    font-size: 1.5em;
    font-weight: 400;
    display: block;
}

/*-----Media-Queries----*/

@media (min-width: 500px){
    :root{
        /* --text-color: #212121; */
    }


    #hero{
        font-size: 1.2rem;
    }

    #hero img{
        width: 40%;
    }

    .about-section p{
        font-size: 1.8em;
    }
    .grayed-heading{
        font-size: 2.2em;
        margin: 20px 0px;
    }

    #skills-section{
        padding: 40px 30px;
    }

    .about-section{
        padding: 80px 50px;
    }

    .project-card{
        min-width: 300px;
        margin: 0px 30px;
    }
}

@media (min-width: 700px){
    :root{ 
        /* --text-color: dodgerblue; */
        font-size: 11px;
    }

    #hero{
        display: grid;
        justify-content: unset;
        align-items: unset;

        grid-template-columns: 48% 48%;
        grid-template-rows: 50% 50%;
    }

    #hero h1 span{
        display: block;
        font-size: 2rem;
    }

    #hero h1{
        grid-row: 1/2;
        align-self: end;
        justify-self: start;
        text-align: left;

        font-size: 6em;

        margin-left: 5rem;

        /*Brings h1 a bit down*/
        line-height: 0.8em;
    }

    #hero div{
        grid-row: 2/3;
        align-self: start;
        justify-self: start;
        text-align: left;

        margin-left: 5rem;
    }

    #hero div button{
        margin-top: 15px;
    }

    #hero div p{
        margin: 0px;
    }

    #hero img{
        grid-row: 1/3;
        place-self: center;
        width: 60%;
        max-height: 70%;
    }

    .about-section{
        text-align: left;
        padding: 70px 10%;
    }
    
    #skills-section{
        padding: 50px 30px;
    }

    .skills-container{
        grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
        grid-gap: 30px
    }

    .services-container{
        grid-template-columns: 1fr 1fr;
        place-items: start;
        margin: 50px;
    }

    .project-card{
        min-width: 350px;
        margin: 0px 40px;
    }

    .social-links{
        justify-content: center;
    }

    .soc-link{
        margin: 20px 40px;
    }
}

@media (min-width: 1000px){
    #hero h1{
        font-size: 7em;
    }
}

@media (min-width: 1350px){

    :root{
        /* --text-color: rgb(19, 78, 138); */
    }

    #hero{
        font-size: 1.3rem;
    }

    .services-container{
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        align-items: start;
        margin: 50px;
    }
}

/*--COLORS--*/

.orange-text{
    color: #FF6D00;
}

.orange-back{
    background-color: #FFF0F0;
}

.dblue-text{
    color: #039BE5;
}

.dblue-back{
    background-color: #F0F1FF;
}

.teal-text{
    color: #19B5B9;
}

.teal-back{
    background-color: #DAFEFC;
}

.turquiose-text{
    color: #27D8FC;
}

.turquiose-back{
    background-color: #DEF6FB;
}

.yellow-text{
    color: #FFD600;
}

.yellow-back{
    background-color: #FFFEDC;
}

.green-text{
    color: #2ECC71;
}

.green-back{
    background-color: #D6FEE7;
}

.lblack-text{
    color: #414141;
}

.lblack-back{
    background-color: #F5F5F5;
}

.lgreen-text{
    color: #4CAF50;
}

.lgreen-back{
    background-color: #D6FEE7;
}

.navy-text{
    color: #003B57;
}

.navy-back{
    background-color: #D7E8F1;
}

.tblue-text{
    color: #26A6D1;
}