@font-face {
    font-family: poppins;
    src: url(resources/fonts/Poppins-Light.ttf);
    font-weight: 100;
}

@font-face {
    font-family: poppins;
    src: url(resources/fonts/Poppins-Regular.ttf);
    font-weight: 400;
}


@font-face {
    font-family: poppins;
    src: url(resources/fonts/Poppins-Bold.ttf);
    font-weight: 700;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 10px;
    --bg-color: #F5FFFE;
    --bg-color-sec: #E8FFFD;
    --text-color: #32497B;
    --text-color-sec: #505675;
    --text-color-thi: #7D88A1;
}

html{
    
}

body{
    width: 100%;
    height: 100%;
}

/*-----Globals-----*/

.sec-heading{
    color: var(--text-color);
    font-family: poppins;
    font-size: 3em;
    font-weight: 700;
}

.text-center{
    text-align: center;
}

.grayed-heading{
    font-family: poppins;
    font-weight: 700;
    color: var(--text-color-thi);
    font-size: 2em;
}

.round-btn{
    background-color: transparent;
    border: 2px solid var(--text-color);
    padding: 2px 10px;
    color: var(--text-color);
    font-weight: 700;
    font-family: poppins;
    border-radius: 50px;
}

.round-btn:hover{
    cursor: pointer;
    background-color: var(--text-color);
    color: white;
}

.round-btn:active{
    background-color: #01415f;
}

.text-bold{
    font-weight: 700;
}

/*-----Hero_Section-----*/

#hero{
    background-color: var(--bg-color);
    font-size: 1rem;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    min-height: 100vh;
    
    color: var(--text-color);
    font-family: poppins;
    text-align: center;
}

#hero h1{
    font-weight: 700;
    font-size: 5em;
}

#hero h1 span{
    font-weight: 400;
    font-size: 2rem;
}

#hero p{
    font-weight: 400;
    font-size: 2em;
    margin: 10px;
}

#hero img{
    width: 50%;
    height: auto;
}

#hero button{
    color: var(--text-color);
    background-color: transparent;
    font-family: poppins;
    font-size: 1.5em;
    font-weight: 700;
    padding: 0.5em 1.5em;
    border-radius: 50px;
    border: none;
    border: 2px solid var(--text-color);
}

/*-----About_Section-----*/

.about-section{
    background-color: var(--bg-color-sec);
    padding: 2em;
    font-family: poppins;

    text-align: center;
}

.about-section h2{
    color: var(--text-color);
    font-size: 2.5em;
    font-weight: 700;
}

.about-section p{
    color: var(--text-color-sec);
    font-size: 1.5em;
    font-weight: 400;
}

/*-----Skills_Section-----*/

#skills-section{
    padding: 10px;
    background-color: var(--bg-color);
}

.skills-container{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    grid-gap: 15px
}

.skill-card{
    padding: 15px;
    border-radius: 5px;
}

.skill-card div{
    display: flex;
    align-items: center;
}

.skill-card img{
    width: 4.5em;
    height: 4.5em;
}

.skill-card div h3{
    font-size: 2.5em;
    font-family: poppins;
    font-weight: 700;
    margin-left: 10px;
}

.skill-card p{
    font-size: 1.5em;
    font-family: poppins;
    font-weight: 400;
    color: var(--text-color-thi);
}

/*-----Services_Section-----*/

#services-section{
    padding: 20px; 
    background-color: var(--bg-color);
}

.services-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px 40px;
}

.service-card .service-card-title{
    display: flex;
    align-items: center;
    
    flex-direction: column;
    justify-content: center;

    margin: 5px auto;
    text-align: center;

}

.service-card .service-card-title div{
    --img-dim: 6em;

    width: var(--img-dim);
    height: var(--img-dim);
    border-radius: 60px;
    background-color: var(--bg-color-sec);

    overflow: hidden;
    
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 5px;
}


.service-card .service-card-title div img{
    width: calc(var(--img-dim) / 1.8);
}

.service-card .service-card-title h2{
    font-family: poppins;
    font-weight: 700;
    color: var(--text-color);
    font-size: 2em;
}

.service-card .service-card-disc{
    font-family: poppins;
    font-size: 1.5em;
    color: var(--text-color);
    font-weight: 400;

    text-align: center;
}

/*-----Projects_Section-----*/

#projects-section{
    padding: 15px;
    background-color: var(--bg-color);
}

.projects-container{
    margin: 30px 0px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 50px;
}

.project-card{

    text-align: center;
    font-family: poppins;
    color: var(--text-color);
    background-color: white;

    box-shadow: 0px 0px 20px 2px rgba(133, 133, 133, 0.2);

    overflow: hidden;
    border-radius: 10px;
}

.project-card img{
    width: 100%;
    height: auto;
}

.project-card-disc{
    padding: 15px;
}

.project-card-disc h2{
    font-size: 2.5rem;
}

.project-card-disc p{
    margin: 15px 0px;
    font-size: 1.5em;
}

.project-card-disc div{
    display: flex;
    justify-content: space-between;
}

/*-----Contact_Section-----*/

#contact-section{
    background-color: var(--bg-color-sec);
    padding: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--text-color);
    font-family: poppins;
    text-align: center;
}

#contact-section h2{
    color: var(--text-color);
    font-size: 3em;
}

#contact-section h3{
    font-size: 2em;
    margin: 5px auto;
}

#contact-section p{
    font-size: 1.7em;
    font-weight: 400;
}

.social-links{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.asoc-link{
    margin: 20px 20px;
}

.soc-link:hover{
    cursor: pointer;
}

.soc-link img{
    width: 3.5em;
    height: auto;
    text-align: center;
}

.soc-link a{
    font-size: 1.5em;
    font-weight: 400;
    display: block;
}

/*--COLORS--*/

.orange-text{
    color: #FF6D00;
}

.orange-back{
    background-color: #FFF0F0;
}

.dblue-text{
    color: #039BE5;
}

.dblue-back{
    background-color: #F0F1FF;
}

.teal-text{
    color: #19B5B9;
}

.teal-back{
    background-color: #DAFEFC;
}

.turquiose-text{
    color: #27D8FC;
}

.turquiose-back{
    background-color: #DEF6FB;
}

.yellow-text{
    color: #FFD600;
}

.yellow-back{
    background-color: #FFFEDC;
}

.green-text{
    color: #2ECC71;
}

.green-back{
    background-color: #D6FEE7;
}

.lblack-text{
    color: #414141;
}

.lblack-back{
    background-color: #F5F5F5;
}

.lgreen-text{
    color: #4CAF50;
}

.lgreen-back{
    background-color: #D6FEE7;
}

.navy-text{
    color: #003B57;
}

.navy-back{
    background-color: #D7E8F1;
}

.tblue-text{
    color: #26A6D1;
}