@font-face{
    font-family: beckman;
    src: url(fonts/beckman.otf);
}

@font-face{
    font-family: Humblle;
    src: url(fonts/Humblle.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100wh;
    height: 100vh;

    background-image: url(images/bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    overflow: hidden;

}

#title_container{
    width: 90vw;
    height: 100%;

    margin: 0 auto;

    display: flex;

    justify-content: center;

    position: relative;

}


#title{
    
    
    font-family: beckman;

    font-size: 8vw;

    position: relative;
    top: 40%;

    color: rgba(255 ,255 , 255, 0.5);
}

@media screen and (max-width: 850px){
    #title{
       font-size: 10vw;
       top: 45%;
    }
} 
