@font-face{
    font-family: Averta;
    src: url(fonts/AvertaR.ttf);

}

*{
    box-sizing: border-box;
}

body, html{
    margin: 0;
    height: 100%;
    width: 100%;
}

#grid{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-columns: 1fr;
    
}

.box{
   /*border: 1px solid brown;
    background-color: gray;*/
    text-align: center;
    font-family: averta;
        
}
/*-------Header/Nav---------*/

#nav{
    display: flex;
    
    align-items: center;
    text-align: left;    
    
    width: 100%;
    height: 50%;

    box-shadow: 0px 0px 10px 1px lightgray;

    background-color: white;
    
}

.links{
    display: inline-block;
    width: max-content;
    margin: 20px 15px;
    color: black;
}

/*----Content-----*/

#logo{
    font-size: 30vmin;
    color: tomato;

    width: max-content;
    margin: 0 auto;
}

#searchbar{
    background-color: white;
    color: #212121;
    
    border: 2px solid lightgray;
    border-radius: 20px;
    
    width: 30%;
    height: 10%;
    
    padding: 0 5px;
    margin: 20px 0;

    font-size: 1.2rem;
}

#searchbar:focus{
    border-color: rgb(255, 215, 208);
}

#btn{
    
    border: 1px solid royalblue;
    border-radius: 2px;

    padding: 5px;

    background-color: royalblue;
    color: white;
}

#btn:hover{
    color: royalblue;
    background-color: white;
}

#btn:active{
    color: tomato;
    border-color: tomato;
}

/*-----Footer------*/

#ftr{
    display: flex;

    width: 100%;
    height: 50%;

    align-items: center;
    justify-content: center;
    
    align-self: end;

    background-color: white;
    
    box-shadow: 0px 0px 10px 2px lightgray;
}

#ftr p{
    color: gray;
}